#include <windows.h>
#include "res.h"
#include "../common/res/version.rc"
#include "../common/res/stopping_dlg.rc"
#include "../common/res/icons.rc"

102 BITMAP DISCARDABLE "tb.bmp"
103 BITMAP DISCARDABLE "tb_gray.bmp"

IDD_DLG1 DIALOGEX 10,10,318,204
CAPTION "Worker / XSS.is RFB Brute"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW|DS_CENTER
BEGIN
  CONTROL "",IDC_TBR1,"ToolbarWindow32",WS_CHILDWINDOW|WS_VISIBLE|TBSTYLE_FLAT|TBSTYLE_TOOLTIPS|TBSTYLE_AUTOSIZE|CCS_NODIVIDER|CCS_TOP,0,0,0,0
  CONTROL "",IDC_FOUND_LOG,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LVS_NOSORTHEADER|LVS_SHOWSELALWAYS|LVS_SINGLESEL|LVS_REPORT,0,18,318,174,WS_EX_STATICEDGE
  CONTROL "",IDC_SBR1,"msctls_statusbar32",WS_CHILDWINDOW|WS_VISIBLE|SBARS_SIZEGRIP|CCS_BOTTOM,42,126,30,39
END

