#include <windows.h>
#include "res.h"
#include "../common/res/version.rc"
#include "../common/res/stopping_dlg.rc"
#include "../common/res/icons.rc"

102 BITMAP DISCARDABLE "tb.bmp"
103 BITMAP DISCARDABLE "tb_gray.bmp"
104 RCDATA DISCARDABLE "splash.png"

IDD_MAIN DIALOGEX 0,0,405,330
CAPTION "Manager / XSS.is RFB Bruter"
FONT 8,"MS Sans Serif",0,0,0
MENU IDR_MENU1
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW|DS_CENTER
BEGIN
  CONTROL "",IDC_TAB,"SysTabControl32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|TCS_FOCUSNEVER|TCS_BUTTONS|TCS_HOTTRACK|TCS_FLATBUTTONS,9,99,246,18
  CONTROL "",IDC_TABS,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,120,255,132
  CONTROL "",IDC_SBR1,"msctls_statusbar32",WS_CHILDWINDOW|WS_VISIBLE|SBARS_SIZEGRIP|CCS_BOTTOM,180,72,54,15
END

IDD_COMMON DIALOGEX 0,0,255,132
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT WS_VISIBLE|WS_CHILDWINDOW
BEGIN
  CONTROL "",IDC_TAB,"SysTreeView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|TVS_NONEVENHEIGHT|TVS_FULLROWSELECT|TVS_TRACKSELECT|TVS_SHOWSELALWAYS|TVS_DISABLEDRAGDROP|TVS_EDITLABELS|TVS_HASLINES,0,0,72,132,WS_EX_STATICEDGE
  CONTROL "",IDC_TABS,"Static",WS_CHILDWINDOW|WS_VISIBLE,78,0,177,132
END

IDD_CHECKER DIALOGEX 0,0,183,108
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT WS_VISIBLE|WS_CHILDWINDOW
BEGIN
  CONTROL "",IDC_STAT,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|LVS_REPORT,48,36,48,42
END

IDD_WORKER DIALOGEX 0,0,243,165
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT WS_VISIBLE|WS_CHILDWINDOW
BEGIN
  CONTROL "",IDC_STAT,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|LVS_REPORT,3,3,138,42
  CONTROL "",IDC_FOUND_LOG,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LVS_NOSORTHEADER|LVS_SHOWSELALWAYS|LVS_SINGLESEL|LVS_REPORT,18,66,168,87,WS_EX_STATICEDGE
END

IDD_RESULTS DIALOGEX 0,0,447,237
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT WS_VISIBLE|WS_CHILDWINDOW
BEGIN
  CONTROL "",IDC_TBR1,"ToolbarWindow32",WS_CHILDWINDOW|WS_VISIBLE|TBSTYLE_FLAT|TBSTYLE_TOOLTIPS|TBSTYLE_AUTOSIZE|CCS_NODIVIDER|CCS_TOP,54,114,42,18
  CONTROL "",IDC_FOUND_LOG,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LVS_NOSORTHEADER|LVS_SHOWSELALWAYS|LVS_SINGLESEL|LVS_REPORT,33,45,225,96,WS_EX_STATICEDGE
END

IDD_FILTER DIALOGEX 10,10,228,75
CAPTION "Ignore filter"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "Ignore pattern (widemasks ? and * also can be used):",1,"Static",WS_CHILDWINDOW|WS_VISIBLE,18,12,183,12
  CONTROL "",IDC_EDIT_BOX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_WANTRETURN,18,27,192,12,WS_EX_STATICEDGE
  CONTROL "Add",IDC_ADD,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,81,48,69,15
END

IDD_RESCAN DIALOGEX 10,10,228,75
CAPTION "Rescan address"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "Address (ip:port):",1,"Static",WS_CHILDWINDOW|WS_VISIBLE,18,12,99,12
  CONTROL "",IDC_EDIT_BOX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_WANTRETURN,18,27,192,12,WS_EX_STATICEDGE
  CONTROL "Add",IDC_ADD,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,81,48,69,15
END

IDD_DEBUG_LOG DIALOGEX 0,0,447,237
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT WS_VISIBLE|WS_CHILDWINDOW
BEGIN
  CONTROL "",IDC_DEBUG_LOG,"RichEdit20A",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_HSCROLL|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL|ES_AUTOVSCROLL|ES_MULTILINE,69,96,57,48,WS_EX_STATICEDGE
END

IDD_SPLASH DIALOGEX 0,0,342,267
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|DS_CENTER
EXSTYLE WS_EX_TOOLWINDOW|WS_EX_TOPMOST
BEGIN
  CONTROL "",IDC_SPLASH_BG,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_BITMAP,0,0,444,288
  CONTROL "",IDC_SPLASH_TEXT,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,9,248,276,9
END

IDR_CONTEXT_ROOT MENU
BEGIN
  POPUP "."
  BEGIN
    MENUITEM "Start",IDM_START
    MENUITEM "Stop",IDM_STOP
    MENUITEM SEPARATOR
    MENUITEM "Show all\tCtrl+A",IDM_SHOW_ALL
  END
END

IDR_CONTEXT_ITEM MENU
BEGIN
  POPUP "."
  BEGIN
    MENUITEM "Start",IDM_START
    MENUITEM "Stop",IDM_STOP
  END
END

IDR_CONTEXT_LOG MENU
BEGIN
  POPUP "."
  BEGIN
    MENUITEM "Clear\tCtrl+X",IDM_LOG_CLEAR
  END
END

IDR_CONTEXT_RESULTS MENU
BEGIN
  POPUP "."
  BEGIN
    MENUITEM "Copy address\tCtrl+C",IDM_RESULT_COPY_ADDRESS
    MENUITEM "Copy desktop\tCtrl+D",IDM_RESULT_COPY_DESKTOP
    MENUITEM "Copy password\tCtrl+P",IDM_RESULT_COPY_PASSWORD
  END
END

IDR_MENU1 MENU
BEGIN
  POPUP "File"
  BEGIN
    MENUITEM "Exit",IDM_EXIT
  END
  POPUP "Backup"
  BEGIN
    MENUITEM "Backup Now",IDM_BACKUP_NOW
    MENUITEM SEPARATOR
    MENUITEM "Backup on load",IDM_BACKUP_ONLOAD
    MENUITEM "Backup on unload",IDM_BACKUP_ONUNLOAD
  END
  POPUP "DB Maintance"
  BEGIN
    POPUP "Worker"
    BEGIN
      POPUP "Rebuild"
      BEGIN
        MENUITEM "Rebuild Good",IDM_REBUID_GOOD
        MENUITEM "Rebuild Ignored",IDM_REBUID_IGNORED
        MENUITEM "Rebuild Bad",IDM_REBUILD_BAD
        MENUITEM "Rebuild Ignore masks",IDM_REBUILD_IGNORE
      END
      MENUITEM "Rescan ignored list",IDM_RESCAN_IGNORED
      MENUITEM SEPARATOR
      MENUITEM "Clear unsupported RFB flags on unload",IDM_CLEAR_UNSUPPORTED_ON_EXIT
      MENUITEM "Rescan unsupported RFBs",IDM_RESCAN_UNSUPPORTED
    END
    MENUITEM "Rebuild Total IPs",IDM_REBUILD_TOTAL_IPS
    MENUITEM SEPARATOR
    POPUP "Checker"
    BEGIN
      MENUITEM "Purge DB",IDM_CHECKER_PURGE_DB
      MENUITEM SEPARATOR
      MENUITEM "Rebuild Checkers on unload",IDM_REBUILD_CHECKERS_ON_EXIT
      MENUITEM "Start checking from last ID",IDM_CHECKER_REMEMBER_LAST_ID
    END
  END
  POPUP "Logging"
  BEGIN
    MENUITEM "Info",IDM_LEVEL_INFO
    MENUITEM "Warning",IDM_LEVEL_WARNING
    MENUITEM "Error",IDM_LEVEL_ERROR
    MENUITEM "Connection",IDM_LEVEL_CONNECTION
  END
END

IDR_ACCEL ACCELERATORS
BEGIN
  9,IDM_NEXT_TAB,VIRTKEY,CONTROL,NOINVERT
  49,IDM_TAB_1,VIRTKEY,CONTROL,NOINVERT
  50,IDM_TAB_2,VIRTKEY,CONTROL,NOINVERT
  51,IDM_TAB_3,VIRTKEY,CONTROL,NOINVERT
  52,IDM_TAB_4,VIRTKEY,CONTROL,NOINVERT
  65,IDM_SHOW_ALL,VIRTKEY,CONTROL,NOINVERT
  88,IDM_LOG_CLEAR,VIRTKEY,CONTROL,NOINVERT
  67,IDM_RESULT_COPY_ADDRESS,VIRTKEY,CONTROL,NOINVERT
  80,IDM_RESULT_COPY_PASSWORD,VIRTKEY,CONTROL,NOINVERT
  68,IDM_RESULT_COPY_DESKTOP,VIRTKEY,CONTROL,NOINVERT
END

IDR_DROP_RESCAN MENU
BEGIN
  POPUP "."
  BEGIN
    MENUITEM "Single line",IDM_RESCAN_ADDRESS
    MENUITEM SEPARATOR
    MENUITEM "List from file",IDM_RESCAN_ADDRESS_LIST
  END
END

