IDD_STOPPING DIALOGEX 10,10,114,39
FONT 14,"Courier New",700,0,204
STYLE WS_POPUP|WS_VISIBLE
BEGIN
  CONTROL "Stopping...",0,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,0,0,114,39,WS_EX_DLGMODALFRAME
END

